<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{})}">
<head>
    <title>Services page</title>
</head>
<body>
    <section id="content">
        <h1>Welcome to Services page</h1>
        <h2>Services offered by SCM</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, praesentium nihil. Quidem, aliquid odit ipsum minus earum sapiente ex, deleniti quas excepturi dolores in beatae expedita doloribus libero corrupti tenetur.</p>
    </section>
    <script>
        console.log('Services page');
    </script>
</body>
</html>